/* flex */
.itdong-flex-container{
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 100%;
}

/* flex-item */
.itdong-flex-item{
	width: auto;
    height: auto;
    margin: auto;
}
.itdong-flex-item-100{
	width: 300px;
    height: 100%;
}

/* flex */
.itdong-flex-1{
	-webkit-flex: 1;
    flex: 1;
}
.itdong-flex-2{
	-webkit-flex: 2;
    flex: 2;
}
.itdong-flex-3{
	-webkit-flex: 3;
    flex: 3;
}
.itdong-flex-4{
	-webkit-flex: 4;
    flex: 4;
}
.itdong-flex-5{
	-webkit-flex: 5;
    flex: 5;
}

/* align-self */
.itdong-align-self-auto{
	align-self: auto;
}
.itdong-align-self-flex-start{
	align-self: flex-start;
}
.itdong-align-self-flex-end{
	align-self: flex-end;
}
.itdong-align-self-center{
	align-self: center;
}
.itdong-align-self-baseline{
	align-self: baseline;
}
.itdong-align-self-stretch{
	align-self: stretch;
}

/* flex-direction */
.itdong-flex-direction-row{
	-webkit-flex-direction: row;
	flex-direction: row;
}
.itdong-flex-direction-row-reverse{
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.itdong-flex-direction-column{
	-webkit-flex-direction: column;
	flex-direction: column;
}
.itdong-flex-direction-column-reverse{
	-webkit-flex-direction: column-reverse;
	flex-direction: column-reverse;
}

/* justify-content */
.itdong-justify-content-flex-start{
	justify-content: flex-start;
}
.itdong-justify-content-flex-end{
	justify-content: flex-end;
}
.itdong-justify-content-center{
	justify-content: center;
}
.itdong-justify-content-space-between{
	justify-content: space-between;
}
.itdong-justify-content-space-around{
	justify-content: space-around;
}

/* align-items */
.itdong-align-items-flex-start{
	align-items: flex-start;
}
.itdong-align-items-flex-end{
	align-items: flex-end;
}
.itdong-align-items-center{
	align-items: center;
}
.itdong-align-items-baseline{
	align-items: baseline;
}
.itdong-align-items-stretch{
	align-items: stretch;
}

/* flex-wrap */
.itdong-flex-wrap-nowrap{
	flex-wrap: nowrap;
}
.itdong-flex-wrap-wrap{
	flex-wrap: wrap;
}
.itdong-flex-wrap-wrap-reverse{
	flex-wrap: wrap-reverse;
}

/* align-content */
.itdong-align-content-stretch{
	align-content: stretch;
}
.itdong-align-content-flex-start{
	align-content: flex-start;
}
.itdong-align-content-flex-end{
	align-content: flex-end;
}
.itdong-align-content-center{
	align-content: center;
}
.itdong-align-content-space-between{
	align-content: space-between;
}
.itdong-align-content-space-around{
	align-content: space-around;
}